* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}
h1 {
    font-size: xx-large;
    color: white;
    background-color: #9d248e;
    padding: 20px;
    margin: 0;
    text-align: center;
    animation-duration: 2s;
    animation-name: aparecer;
}
.grid-inicio {
    display: grid;
    grid-template-columns: 1fr;
}
.fondo {
    background-color: white;
}
header div img {
    width: 250px;
}
header nav ul { 
    background-color: white;
}
header nav ul li a {
    text-decoration: none;
    font-size: large;
    text-align: center;
}
main {
    background-image: url(../img/fondo-inicio.png);
}
main div p {
    text-align: center;
    padding: 40px;
}
aside div {
    background-color: #ffde59;
    text-align: center;
    padding: 20px;
}
.imagen-aside {
    background-color: #ffde59;
    animation-duration: 2s;
    animation-name: aparecer;
    max-height: 220px;
}
.row {
    margin-right: 0;
}
aside div a {
    font-size: x-large;
    text-decoration: none;
    color: white;
    display: block;
    
}
aside div img {
    margin: 20px auto;
    animation-duration: 2s;
    animation-name: aparecer;
}
footer div {
    padding: 10px;
    color:#414ca0;
    background-color: #eaaecf;
    text-align: center;
}
.img-footer {
    width: 40px;
 }
 .receta-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4em 2em;
    flex-wrap: wrap;
 }
 .receta {
    background-color: white;
    border: 4px solid #9d248e;
    width: 550px;
    margin: 30px;
    line-height: 150%;
    color: #414ca0;
 }
 .receta h2 {
    color: white;
    background-color: #9d248e;
    padding: 20px;
 }
 .receta h3 {
    color:#9d248e;
 }
 .imagen-receta img {
    width: 300px;
 }
 .texto-receta {
    margin: 30px;
 }
 .tip { 
    background-color: white;
    border: 4px solid #414ca0;
    line-height: 200%;
    color: #414ca0;
 }
 .tip-texto {
    margin: 15px;
 }
 .tip-imagen img {
    width: 300px;
 }
 .contacto-main {
    padding: 30px 100px ;
    display: flex;
    justify-content: center;
    font-size: large;
    color: #9d248e;
}
form fieldset {
    text-decoration: none;
    padding: 20px 20px;
    line-height: 150%;
    background-color: white;
}
textarea {
    width: 456px;
    height: 155px;
}
input {
    text-decoration: none;
    border: 1px solid #9d248e;
}
.menu-desplegable-contacto {
    color: #9d248e;
    border: 1px solid #9d248e;
    padding: 10px;
}

.botton-contacto {
    display: flex;
    justify-content: space-around;
}
.botton-contacto input {
    background-color: #9d248e;
    color: white;
    padding: 10px;
}
.imagenmenu {
    width: 600px;
}
/*
.navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
  }*/

@keyframes aparecer {
    0% { 
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media (max-width: 992px) {
    h1 {
        font-size: large;
    }
    .grid-inicio {
        display: inline;
    }
    header div img {
        width: 200px;
        display: inline;
    }
    main p{
        width: max-content 992px;
    }
    main div p {
        padding: 0;
    }
    aside div {
        display: none;
    } 
}
@media (max-width: 768px) {
    h1 {
        font-size: large;
    }
    .grid-inicio {
        display: inline;
    }
    header div img {
        width: 200px;
        display: inline;
    }
    main p{
        width: max-content 768px;
    }
    main div p {
        padding: 0;
    }
    img {
        width: 100px;
    }
    .imagenmenu {
        width: 400px;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: medium;
    }
    .grid-inicio {
        display: inline;
    }
    header div img {
        width: 150px;
        display: inline;
    }
    header nav ul { 
        gap: 0rem;
    }
    .imagenmenu {
        width: 200px;
    }
}

 /* paleta de colores
 amarillo #ffde59
 azul #414ca0
 rosa #eaaecf
 violeta #9d248e */